{% extends "base.html" %}

{% block content %}
<section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            {% if blog.cover %}
            <img src="{{blog.cover.url}}" alt="" width="600">
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{blog.title}}
              </h2>
            </div>
            <p>
                {{blog.body}}
            </p>
            <a href="{% url 'home' %}">
              Retour à l'accueil
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

